.container {
    margin-top: 4.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 15rem;
  }
  
  .container .text {
    width: 50%;
    padding: 20px;
  }
  
 .container .image {
    width: 8rem;
    padding: 1rem;
    align-items: center;
    background-image: url("../assets/undraw_love_it_xkc2\ \(1\).svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
/*   
  .container .image .img {
    overflow: hidden; 
    object-fit: cover;
  } */
  